In [59]:
import pandas as pd

In [60]:
df2012 = pd.read_csv("usaJobs2012.csv").drop(columns="Unnamed: 0")
df2013 = pd.read_csv("usaJobs2013.csv").drop(columns="Unnamed: 0")
df2014 = pd.read_csv("usaJobs2014.csv").drop(columns="Unnamed: 0")
df2015 = pd.read_csv("usaJobs2015.csv").drop(columns="Unnamed: 0")
df2016 = pd.read_csv("usaJobs2016.csv").drop(columns="Unnamed: 0")
df2017 = pd.read_csv("usaJobs2017.csv").drop(columns="Unnamed: 0")

In [61]:
df = pd.concat([df2012,df2013,df2014,df2015,df2016,df2017],ignore_index=True)

In [62]:
df.head()

,STATE,Major Group,OCC_TITLE,TOT_EMP,year
0,Alabama,Architecture and Engineering Occupations,Aerospace Engineering and Operations Technicians,230,2012
1,Alabama,Architecture and Engineering Occupations,Aerospace Engineers,3270,2012
2,Alabama,Architecture and Engineering Occupations,"Architects, Except Landscape and Naval",910,2012
3,Alabama,Architecture and Engineering Occupations,Architectural and Civil Drafters,1170,2012
4,Alabama,Architecture and Engineering Occupations,Cartographers and Photogrammetrists,520,2012

In [63]:
# Dependencies and boilerplate
from sqlalchemy import Column, Float, Integer, String, Text
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class myJson(Base):
    __tablename__ = "jobsDB"
    
    id = Column(Integer, primary_key=True)
    state = Column(Text)
    major_group = Column(Text)
    occ_title = Column(Text)
    tot_emp = Column(Integer)
    year = Column(Integer)
    


from sqlalchemy import create_engine
from sqlalchemy.orm import Session

engine = create_engine("sqlite:///histJobDB.sqlite")
Base.metadata.create_all(engine)

session = Session(bind=engine)

In [71]:
for entry in data:
    print(entry)

In [79]:
list(df.index)[0]

0

In [80]:
df['STATE'].iloc[0]

'Alabama'

In [104]:
recordList = []
for row in df.itertuples():
    recordList.append(myJson(id=row.Index, state=row.STATE, major_group=row._2, occ_title=row.OCC_TITLE, tot_emp=row.TOT_EMP, year=row.year))

In [107]:
session.rollback()

C:\Users\Toncus\Anaconda3\lib\site-packages\sqlalchemy\orm\session.py:521: SAWarning: Session's state has been changed on a non-active transaction - this state will be discarded.
  "Session's state has been changed on "

In [108]:
session.add_all(recordList)
session.commit()

In [125]:
data = session.execute("select major_group from jobsDB limit 10")

In [127]:
session.close()